@import "jeet"
@import "axis"
@import "rupture"

global-reset()
normalize-css()
fluid-media()
print-styles()
border-box-html()

@import "./variables"

@import "./Components/Nav"
// @import "./Components/Map"
@import "./Components/Overlay"

html body
  .App
    center(100%)
    color mainColor
