.Overlay
  absolute bottom 20px
  size 100% auto
  background-color OverlayBGColor
  z-index 10000
  display: flex
  margin auto
  padding 20px 0px
  .Content
    display: flex
    margin auto
    .dayOfWeek
      // column(1/4)
      display: flex
      .Text
        size 150px auto
        font-weight: 700
        color mainColor
        text-align: center;
        padding 5px 0px
      input
        size 100px auto
    .hourOfDay
      // column(1/4)
      display: flex
      .Text
        size 150px auto
        font-weight: 700
        color mainColor
        text-align: center;
        padding 5px 0px
      input
        size 100px auto
    .PickOff
      // column(1/4)
      background-color OverlayTrueButton
      color white
      size 100px auto
      text-align: center
      padding 5px 0px
      margin auto 15px
      font-weight: 700
      cursor pointer
      &.false
        background-color OverlayFalseButton
    .DropOff
      // column(1/4)
      background-color OverlayTrueButton
      color white
      size 100px auto
      text-align: center
      padding 5px 0px
      margin auto 15px
      font-weight: 700
      cursor pointer
      &.false
        background-color OverlayFalseButton
